<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <title>Story 7 Confirmation</title>
    <!-- Bootstrap CSS -->
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/bootstrap.min.css' %}">
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/index.css' %}">
<style>
body{
background-color: gray;
}
</style>
</head>
<body>

    <form action="{% url 'homepage:index' %}" method="POST" style="text-align: center">
            {% csrf_token %}
            {{ confirmForm }}
            <p>Is the content of your message correct?</p>
            <input type="submit" name="yes" value="YES" >
        </form>
        <div style="text-align:center">
        <button type="submit" name="back" onclick="javascript:history.back()" id="id_no">NO</button>
        </div>

    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/popper.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>
