<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <title>Story 7 Status</title>
    <!-- Bootstrap CSS -->
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/bootstrap.min.css' %}">
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/index.css' %}">
<style>
body{
background-color: gray;
}
</style>
</head>
<body>
    <br><br>
    <h1 style="text-align:center">What's on your mind today?</h1>
    <form class="m-5" method="POST" action="{% url 'homepage:confirmation' %}" style="text-align: center">
        {% csrf_token %}
        {{ statusForm }}
		<input type="submit" name="post" value="Post It!">
    </form>


	<div class="container">
          {% for statuses in statusList %}
			{% csrf_token %}
				<h3> {{ statuses.name }} </h3>
				<p> {{ statuses.status }} </p>
				<br>
			{% endfor %}
      </div>


    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/popper.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>